# All files default to text with LF line endings
* text eol=lf

# Windows files always have CRLF eol
*.cmd text eol=crlf

# Test resources that need specific eol
src/test/resources/org/checkstyle/autofix/recipe/newlineatendoffile/** -text
